<hr class="bold-line">
<div class="panel panel-default">
  <div class="panel-heading"><h3 id="title-bar"> All your tasks for
  <span style="border:solid px;"><%= "#{@project.title.truncate(60)}.."%></span></h3></div>
    <table class="task-table">
        <th>Task:</th>
        <th>project:</th>
        <th>due date:</th>
        <th>&nbsp;</th>
        <% @project.tasks.each do |task| %>
      <tr>
          <td><%= task.name %></td>
          <td><%= "#{@project.title.truncate(60)}..." %></td>
          <td><%= task.due_date %></td>
          <td><%= task.is_completed %></td>
      </tr>
        <% end %>
    </table>
  </div>
  <div class="well well-sm pull-right">
    <%= link_to "back to project", @project, class: "btn btn-default" %>
    <%= link_to "add a task to this project", new_project_task_path(@project), class: "btn btn-default"%>
  </div>
</div>
