<p id="project-title"><%= link_to "Title: #{project.title}", project %></p> 
<p>Description: 
  <% if project.body.length < 200 %>
    <%= project.body %>
  <% else %>
     <%=project.body.truncate(200)%> <%=link_to "read more", project %>
  <% end %>
</p>
<p>Hit count: <%= project.hit_count %></p>
<p>Like count:  <%= project.like_count %></p>
<p>Created: <%= project.created_at %></p>
<hr>
