

<p id="project-title"><%= link_to "Title: #{project.title}", project %></p> 
<p>Description:  <%= project.body %></p>
<p>Hit count: <%= project.hit_count %></p>
<p>Like count:  <%= project.like_count %></p>
<p>Created: <%= project.created_at %></p>
<hr>