
<h2 id="title-bar"><%= "Project #{@project.id}: #{@project.title}" %></h2>
<hr class="bold-line" >
<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" >

  <div  class="pull-left content-container">
    <p>Description: <%= @project.body %></p>
    <p>Hit count: <%= @project.hit_count %></p>
    <p>Like count: <%= @project.like_count %></p>

    <%= render :partial => "/projects/project_commands", :locals => { :project => @project } %>

    <%= render "discussions_info" %>
  </div>
</div>

<%= render "tasks/project_tasks" %>

<footer><%= render "layouts/social" %></footer>
