<div class="nav-parent">
  <ul id="navigation-list">
    <li>
      <% if user_signed_in? %>
        <%= link_to "", destroy_user_session_path, method: :delete, class: "fa fa-power-off fa-3x", id: "power-on" %>
      <% else %>
        <%= link_to "", new_user_session_path, class: "fa fa-power-off fa-3x", id: "power-off"  %>
      <% end %>
    </li>
    <li><%= link_to "", projects_path, class: "fa fa-home fa-3x" %></li>
    <li><%= link_to "", new_project_path, class: "fa fa-plus-circle fa-3x" %></li>
    <li><%= link_to "All Projects", all_projects_path, class: "btn btn-default" %></li>
    <li><%= link_to "Tasks", tasks_path, class: "btn btn-default" %></li>
     <l><% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path %>
        <% end %>
    </li>
  </ul>      
</div>
